


.firebaserc
**/GoogleService-Info.plist
dataconnect-debug.log
firebase-debug.log
pglite-debug.log
.firebase/logs/vsce-debug.log

Info.plist
ImagePromptsOrganizer/Info.plist

GoogleService-Info.plist
ImagePromptsOrganizer/GoogleService-Info.plist

# Xcode user and build data
ImagePromptsOrganizer/.DS_STORE
ImagePromptsOrganizer/xcuserdata
*.mobileprovision
*.hmap
*.ipa
*.xcarchive/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
.DS_Store
